<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a th:text="${configurations.get('footerAbout')}">singal blog.</a>  &nbsp;   • &nbsp;
        Powered by <a href="https://github.com/lulucar2022" target="_blank" th:text="${configurations.get('footerCopyRight')}">lulucar</a><br/>
        ICP <a href="https://beian.miit.gov.cn" th:text="${configurations.get('footerICP')}">蜀ICP备2024086428号-1</a>
        <br>
        Theme <a rel="friend" href="https://github.com/spiritree/typecho-theme-amaze" target="_blank"> Amaze</a> by <a href="https://github.com/spiritree" target="_blank">spiritree</a>
    </div>
</footer>
</html>